.continue-shopping {
  background-color: #e7f43d;
  text-align: center;
  padding: 20px;
  width: 30%;
  margin: 20px;
  border-radius: 15px;
  display: block;
  transition: background-color 1s ease;
}

.continue-shopping:hover {
  background-color: #111111;
  color: #e7f43d;
}

.headings {
  display: flex;
  margin-top: 50px;
}

.headings div {
  width: 25%;
  text-align: center;
}

.cart-container {
  margin: 35px 0;
}

.empty-cart {
  padding: 200px;
  text-align: center;
}
.order-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-summary {
  background-color: #111111;
  color: white;
  width: 40%;
  border-radius: 15px;
  padding: 5px;
}

.order-summary div {
  display: flex;
  justify-content: space-around;
}

.order-total {
  color: #e7f43d;
}

.checkout-button {
  background-color: #e7f43d;
  color: #111111;
  width: 40%;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  margin: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .order-summary {
    width: 65%;
  }

  .checkout-button {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .headings {
    font-size: 12px;
  }

  .cart-container p {
    font-size: 12px;
  }

  .empty-cart {
    padding: 100px;
  }

  .continue-shopping {
    color: #111111;
  }
}

@media (max-width: 400px) {
  .headings {
    display: none;
  }
  .order-summary {
    width: 100%;
  }

  .checkout-button {
    width: 100%;
  }

  .continue-shopping {
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 0;
  }
}
