.item-details {
  display: flex;
  align-items: center;
}

.detail {
  width: 25%;
  text-align: center;
  margin-top: 25px;
}

.img-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-and-name img {
  width: 30%;
}

.img-and-name p {
  width: 75%;
  font-size: 12px;
}

.remove {
  cursor: pointer;
}

@media (max-width: 600px) {
  .img-and-name {
    align-items: baseline;
  }
  .img-and-name p {
    font-size: 10px;
    text-align: left;
  }

  .img-and-name img {
    width: 50%;
  }
}
